
@{
    ViewBag.Title = "SaleHomeLand";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">
    <h3 class="heading">Nhà đất bán</h3>
    <section class="thumbnail">
        <div class="">
            <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/home-improvement/wp-content/uploads/2022/07/download-23.jpg"
                 alt="thumbnail 1" />
        </div>
        <div class="">
            <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/home-improvement/wp-content/uploads/2022/07/download-23.jpg"
                 alt="thumbnail 2" />
        </div>
    </section>
    <article class="article">
        <section class="news-content">
            <p class="news__heading">Nhà đất dành cho bạn</p>
            <section class="post">
                <div class="post__img">
                    <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/home-improvement/wp-content/uploads/2022/07/download-23.jpg"
                         alt="post 1" />
                </div>
                <div class="post__content">
                    <p class="post__title">Lorem Ipsum</p>
                    <div class="post-info">
                        <p class="post-info__price">2.9 tỷ</p>
                        <p>110 m2</p>
                        <p>Bản nhà mặt phố</p>
                    </div>
                    <p class="post__desc">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid atque animi illo
                        nisi quam obcaecati, qui voluptates voluptatum suscipit molestiae eveniet error,
                        beatae quas iste exercitationem sint ipsa labore architecto.
                    </p>
                    <div class="post-utils">
                        <div class="post-utils__user">
                            <i class="fas fa-user-circle"></i>
                            <p>User upload news</p>
                        </div>
                        <div class="post-utils__save">
                            <button type="button" id="saveBtn1" onClick="toggleSaveNews(1)">
                                <i class="far fa-heart"></i>
                            </button>
                            <p>Lưu tin</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="post">
                <div class="post__img">
                    <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/home-improvement/wp-content/uploads/2022/07/download-23.jpg"
                         alt="post 1" />
                </div>
                <div class="post__content">
                    <p class="post__title">Lorem Ipsum</p>
                    <div class="post-info">
                        <p class="post-info__price">2.9 tỷ</p>
                        <p>110 m2</p>
                        <p>Bản nhà mặt phố</p>
                    </div>
                    <p class="post__desc">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid atque animi illo
                        nisi quam obcaecati, qui voluptates voluptatum suscipit molestiae eveniet error,
                        beatae quas iste exercitationem sint ipsa labore architecto.
                    </p>
                    <div class="post-utils">
                        <div class="post-utils__user">
                            <i class="fas fa-user-circle"></i>
                            <p>User upload news</p>
                        </div>
                        <div class="post-utils__save">
                            <button type="button" id="saveBtn2" onClick="toggleSaveNews(2)">
                                <i class="far fa-heart"></i>
                            </button>
                            <p>Lưu tin</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="post">
                <div class="post__img">
                    <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/home-improvement/wp-content/uploads/2022/07/download-23.jpg"
                         alt="post 1" />
                </div>
                <div class="post__content">
                    <p class="post__title">Lorem Ipsum</p>
                    <div class="post-info">
                        <p class="post-info__price">2.9 tỷ</p>
                        <p>110 m2</p>
                        <p>Bản nhà mặt phố</p>
                    </div>
                    <p class="post__desc">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid atque animi illo
                        nisi quam obcaecati, qui voluptates voluptatum suscipit molestiae eveniet error,
                        beatae quas iste exercitationem sint ipsa labore architecto.
                    </p>
                    <div class="post-utils">
                        <div class="post-utils__user">
                            <i class="fas fa-user-circle"></i>
                            <p>User upload news</p>
                        </div>
                        <div class="post-utils__save">
                            <button type="button" id="saveBtn3" onClick="toggleSaveNews(3)">
                                <i class="far fa-heart"></i>
                            </button>
                            <p>Lưu tin</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="post">
                <div class="post__img">
                    <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/home-improvement/wp-content/uploads/2022/07/download-23.jpg"
                         alt="post 1" />
                </div>
                <div class="post__content">
                    <p class="post__title">Lorem Ipsum</p>
                    <div class="post-info">
                        <p class="post-info__price">2.9 tỷ</p>
                        <p>110 m2</p>
                        <p>Bản nhà mặt phố</p>
                    </div>
                    <p class="post__desc">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid atque animi illo
                        nisi quam obcaecati, qui voluptates voluptatum suscipit molestiae eveniet error,
                        beatae quas iste exercitationem sint ipsa labore architecto.
                    </p>
                    <div class="post-utils">
                        <div class="post-utils__user">
                            <i class="fas fa-user-circle"></i>
                            <p>User upload news</p>
                        </div>
                        <div class="post-utils__save">
                            <button type="button" id="saveBtn4" onClick="toggleSaveNews(4)">
                                <i class="far fa-heart"></i>
                            </button>
                            <p>Lưu tin</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="post">
                <div class="post__img">
                    <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/home-improvement/wp-content/uploads/2022/07/download-23.jpg"
                         alt="post 1" />
                </div>
                <div class="post__content">
                    <p class="post__title">Lorem Ipsum</p>
                    <div class="post-info">
                        <p class="post-info__price">2.9 tỷ</p>
                        <p>110 m2</p>
                        <p>Bản nhà mặt phố</p>
                    </div>
                    <p class="post__desc">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid atque animi illo
                        nisi quam obcaecati, qui voluptates voluptatum suscipit molestiae eveniet error,
                        beatae quas iste exercitationem sint ipsa labore architecto.
                    </p>
                    <div class="post-utils">
                        <div class="post-utils__user">
                            <i class="fas fa-user-circle"></i>
                            <p>User upload news</p>
                        </div>
                        <div class="post-utils__save">
                            <button type="button" id="saveBtn5" onClick="toggleSaveNews(5)">
                                <i class="far fa-heart"></i>
                            </button>
                            <p>Lưu tin</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="post">
                <div class="post__img">
                    <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/home-improvement/wp-content/uploads/2022/07/download-23.jpg"
                         alt="post 1" />
                </div>
                <div class="post__content">
                    <p class="post__title">Lorem Ipsum</p>
                    <div class="post-info">
                        <p class="post-info__price">2.9 tỷ</p>
                        <p>110 m2</p>
                        <p>Bản nhà mặt phố</p>
                    </div>
                    <p class="post__desc">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid atque animi illo
                        nisi quam obcaecati, qui voluptates voluptatum suscipit molestiae eveniet error,
                        beatae quas iste exercitationem sint ipsa labore architecto.
                    </p>
                    <div class="post-utils">
                        <div class="post-utils__user">
                            <i class="fas fa-user-circle"></i>
                            <p>User upload news</p>
                        </div>
                        <div class="post-utils__save">
                            <button type="button" id="saveBtn6" onClick="toggleSaveNews(6)">
                                <i class="far fa-heart"></i>
                            </button>
                            <p>Lưu tin</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="categories">
            <p class="categories__title">Danh mục dành cho bạn</p>
            <div class="categories__list">
                <a href="#">Nhà</a>
                <a href="#">Đất</a>
                <a href="#">Căn hộ chung cư</a>
                <a href="#">Văn phòng</a>
                <a href="#">Biệt thự</a>
                <a href="#">BDS thương mại</a>
                <a href="#">BDS dịch vụ</a>
                <a href="#">BDS công nghiệp</a>
                <a href="#">BDS khác</a>
            </div>
        </section>
    </article>
</div>

